@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
.about-company-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .about-company-section .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px;
  }
}
.about-company-section .container .about-section-left {
  position: relative;
}
.about-company-section .container .about-section-left .about-presentation-box {
  display: none;
}
@media (min-width: 768px) {
  .about-company-section .container .about-section-left .about-presentation-box {
    display: block;
    position: absolute;
    margin-left: -50px;
    margin-top: 400px;
    padding: 40px;
    background-color: #BEEBFF;
    filter: drop-shadow(0px 18px 20px rgba(44, 44, 44, 0.15));
  }
}
.about-company-section .container .about-section-left .about-presentation-box .about-presentation-title {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-bottom: 10px;
}
.about-company-section .container .about-section-left .about-presentation-box .about-presentation-title .h4-name {
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: bold;
  color: #191919;
}
.about-company-section .container .about-section-left .about-presentation-box .about-presentation-title .h4-title {
  padding-left: 10px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: bold;
  color: #f94d1c;
}
.about-company-section .container .about-section-left .about-presentation-box p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  font-style: italic;
  color: #191919;
}
.about-company-section .container .about-section-left img {
  width: 100%;
}
@media (min-width: 768px) {
  .about-company-section .container .about-section-left img {
    width: auto;
  }
}
.about-company-section .container .about-section-right {
  display: block;
  margin-top: 0;
}
@media (min-width: 1200px) {
  .about-company-section .container .about-section-right {
    margin-left: 200px;
  }
}
.about-company-section .container .about-section-right .section-title {
  padding-top: 0;
  text-align: center;
}
@media (min-width: 1200px) {
  .about-company-section .container .about-section-right .section-title {
    text-align: left;
  }
}
.about-company-section .container .about-section-right .section-title h2 {
  margin-bottom: 25px;
}
.about-company-section .container .about-section-right .section-title .about-section-text p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.about-company-section .container .about-section-right .section-title .about-section-text .about-section-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .about-company-section .container .about-section-right .section-title .about-section-text .about-section-links {
    justify-content: flex-start;
    margin-top: 65px;
  }
}
.about-company-section .container .about-section-right .section-title .about-section-text .about-section-links .round-icon-transparent {
  padding: 0;
  border: 3px solid rgba(25, 25, 25, 0.1);
}
.about-company-section .container .about-section-right .section-title .about-section-text .about-section-links .round-icon-transparent i {
  font-size: 1em;
}
.about-company-section .container .about-section-right .section-title .about-section-text .about-section-links #intro-video-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
  text-decoration: none;
  color: #191919;
}
.about-company-section .container .about-section-right .section-title .about-section-text .about-section-links #intro-video-link p {
  padding-left: 15px;
  padding-top: 25px;
}
.about-company-section .container .about-section-right .section-title .about-section-text .about-section-links #intro-video-link:hover p {
  color: #f94d1c;
  transition: 0.2s ease-in-out;
}
.about-company-section .container .about-section-right .section-title .about-section-text .about-section-links #intro-video-link:hover .round-icon-transparent {
  border: 3px solid #f94d1c;
  transition: 0.3s ease-in-out;
}
.about-company-section .container .about-section-right .section-title .about-section-text .about-section-links #intro-video-link:hover .round-icon-transparent i {
  color: #f94d1c;
  transition: 0.2s ease-in-out;
}

.article-news-section .container .section-title h6 {
  text-align: center;
}
@media (min-width: 1200px) {
  .article-news-section .container .section-title h6 {
    text-align: left;
  }
}
.article-news-section .container .section-title .article-news-title {
  text-align: center;
  padding-bottom: 80px;
}
.article-news-section .container .section-title .article-news-title h2 {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .article-news-section .container .section-title .article-news-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-bottom: 40px;
  }
  .article-news-section .container .section-title .article-news-title h2 {
    margin-bottom: auto;
  }
}
.article-news-section .container .article-boxes {
  position: relative;
}
.article-news-section .container .article-boxes ul {
  list-style-type: none;
}
@media (min-width: 1200px) {
  .article-news-section .container .article-boxes ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
.article-news-section .container .article-boxes ul a {
  pointer-events: none;
  text-decoration: none;
}
.article-news-section .container .article-boxes ul a :hover h3 {
  text-decoration: underline;
}
.article-news-section .container .article-boxes ul a :hover img {
  outline: 1px solid RGBA(25, 25, 25, 0.5);
}
.article-news-section .container .article-boxes ul .article-box {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .article-news-section .container .article-boxes ul .article-box {
    margin-bottom: auto;
  }
}
.article-news-section .container .article-boxes ul .article-box h3 {
  display: inline-block;
  pointer-events: auto;
  color: #191919;
}
.article-news-section .container .article-boxes ul .article-box img {
  pointer-events: auto;
  height: 230px;
  width: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.article-news-section .container .article-boxes ul .article-box p {
  line-height: 28px;
  margin-top: 5px;
  max-width: 400px;
}
@media (min-width: 768px) {
  .article-news-section .container .article-boxes ul .article-box p {
    margin-top: 20px;
    max-width: auto;
  }
}
.article-news-section .container .article-boxes ul .article-box .article-box-date {
  position: absolute;
  text-align: center;
  margin-top: -210px;
  margin-left: 20px;
  background-color: #F9D783;
  padding: 14px;
  padding-bottom: 0;
}
.article-news-section .container .article-boxes ul .article-box .article-box-date h4 {
  margin-bottom: 0;
}
.article-news-section .container .article-boxes ul .article-box .article-box-date p {
  margin-top: 0;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 40px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 4px 0.4px rgba(105, 105, 105, 0.507);
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: rgb(228, 228, 228);
  box-shadow: 0 0 0 0;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 40px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 4px 0.4px rgba(105, 105, 105, 0.507);
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
  box-shadow: 0 0 0 0;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 40px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 2px 0.4px rgba(105, 105, 105, 0.507);
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: rgb(228, 228, 228);
  box-shadow: 0 0 0 0;
}

.choose-section .container {
  display: flex;
}
@media (max-width: 1200px) {
  .choose-section .container {
    justify-content: center;
  }
}
.choose-section .container .choose-section-left {
  width: 600px;
}
.choose-section .container .choose-section-left .section-title {
  padding-bottom: 40px;
}
.choose-section .container .choose-section-left .section-title h6 {
  text-align: center;
}
.choose-section .container .choose-section-left .section-title h2 {
  text-align: center;
}
@media (min-width: 1200px) {
  .choose-section .container .choose-section-left .section-title h6 {
    text-align: left;
  }
  .choose-section .container .choose-section-left .section-title h2 {
    text-align: left;
  }
}
.choose-section .container .choose-section-left .choose-section-boxes {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.choose-section .container .choose-section-left .choose-section-boxes img {
  height: 100px;
  width: auto;
}
.choose-section .container .choose-section-left .choose-section-boxes .choose-section-box {
  padding-left: 25px;
}
.choose-section .container .choose-section-left .choose-section-boxes .choose-section-box h4 {
  padding-top: 5px;
}
.choose-section .container .choose-section-left .choose-section-boxes .choose-section-box p {
  padding-top: 5px;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
}
.choose-section .container .choose-section-right {
  position: relative;
}
.choose-section .container .choose-section-right .choose-section-beige-bg {
  display: none;
}
@media (min-width: 1200px) {
  .choose-section .container .choose-section-right .choose-section-beige-bg {
    display: block;
    position: absolute;
    background-color: #F0EFE9;
    width: 100vh;
    height: 400px;
    bottom: 0;
    z-index: -1;
  }
}
.choose-section .container .choose-section-right img {
  display: none;
}
@media (min-width: 1200px) {
  .choose-section .container .choose-section-right img {
    display: block;
    position: absolute;
    top: 150px;
    left: 100px;
  }
}

.client-section {
  display: none;
}
.client-section img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .client-section {
    display: flex;
  }
  .client-section img {
    max-width: 25%;
    height: auto;
  }
  .client-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .client-section img {
    max-width: 100%;
    height: auto;
  }
  .client-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.modal-container {
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modal-container h2 {
  font-size: 1.5rem;
}
.modal-container p {
  margin-bottom: 10px;
}
.modal-container .close-button {
  background-color: #F9D783;
  color: #191919;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #F9D783;
  border-radius: 40px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 4px 0.4px rgba(105, 105, 105, 0.507);
  cursor: pointer;
  margin-bottom: 40px;
}
.modal-container .close-button:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: rgb(228, 228, 228);
  box-shadow: 0 0 0 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-form-section .contact-form {
  background-color: #F0EFE9;
  padding: 30px;
}
.contact-form-section .contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form-section .contact-form .section-title {
  display: block;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .contact-form-section .contact-form {
    padding: 75px;
  }
}
@media (min-width: 1200px) {
  .contact-form-section .contact-form {
    padding: 150px;
  }
}
.contact-form-section .contact-form .form-input {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #FFFFFF;
  border: 1px solid rgba(25, 25, 25, 0.1);
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 40px;
  transition: border-color 0.3s;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
}
.contact-form-section .contact-form .form-input:hover {
  border-color: RGBA(25, 25, 25, 0.5);
}
.contact-form-section .contact-form .form-input::-moz-placeholder {
  color: RGBA(25, 25, 25, 0.5);
}
.contact-form-section .contact-form .form-input::placeholder {
  color: RGBA(25, 25, 25, 0.5);
}
.contact-form-section .contact-form .form-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #F9D783; /* added box-shadow for focus */
}
.contact-form-section .contact-form .input-error {
  background-color: #fff8f8;
  border: 1px solid #f58888;
}
.contact-form-section .contact-form .input-error:focus {
  outline: none;
  box-shadow: 0 0 0 2px #d42929; /* added box-shadow for focus */
}
.contact-form-section .contact-form .contact-form-error-message {
  margin-top: 5px;
  margin-left: 35px;
}
.contact-form-section .contact-form .contact-form-error-message p {
  color: #d42929;
  font-size: 0.8em;
}
.contact-form-section .contact-form .contact-form-error-message p .space {
  margin-right: 5px;
}

.contact-information-boxes {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
}
@media (min-width: 1400px) {
  .contact-information-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 75px;
    gap: 40px;
  }
}
.contact-information-boxes .contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid RGBA(25, 25, 25, 0.2);
  padding: 5px;
  width: 100%;
}
@media (min-width: 1400px) {
  .contact-information-boxes .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid RGBA(25, 25, 25, 0.2);
    padding: 50px;
    width: 100%;
  }
}
.contact-information-boxes .contact-box .contact-box-text {
  padding-left: 25px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: RGBA(25, 25, 25, 0.8);
}
.contact-information-boxes .contact-box .contact-box-text h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contact-information-boxes .contact-box .contact-box-text p {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .features-section .container {
    display: flex;
    justify-content: flex-start;
    border-color: rgba(25, 25, 25, 0.2);
    border-width: 1.2000000477px;
    border-style: solid;
    border-radius: 2px;
  }
}
.features-section .container .section-title {
  text-align: center;
  padding-top: 50px;
}
.features-section .container .section-title h2 {
  padding-bottom: 25px;
}
@media (min-width: 1200px) {
  .features-section .container .section-title {
    padding-left: 75px;
  }
  .features-section .container .section-title h2 {
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .features-section .container .features-grid {
    display: grid;
    align-items: center;
    gap: 100px;
    padding: 100px;
    grid-template-columns: 1fr 1fr;
  }
}
.features-section .container .features-grid .feature-box {
  padding: 25px;
}
@media (min-width: 768px) {
  .features-section .container .features-grid .feature-box {
    padding: 0;
  }
}
.features-section .container .features-grid .feature-box .feature-box-title {
  display: flex;
}
.features-section .container .features-grid .feature-box .feature-box-title h4 {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .features-section .container .features-grid .feature-box .feature-box-title {
    display: block;
  }
  .features-section .container .features-grid .feature-box .feature-box-title i {
    margin-top: 0;
    margin-right: 0;
    font-size: 2em;
  }
  .features-section .container .features-grid .feature-box .feature-box-title h4 {
    padding-top: 25px;
    margin-left: 0;
  }
}

footer {
  background-color: #0E1021;
}
@media (min-width: 1400px) {
  footer {
    position: relative;
  }
}
footer .background-lines-white-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1400px) {
  footer .background-lines-white-right {
    display: none;
  }
}
footer .container .top-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}
@media (min-width: 768px) {
  footer .container .top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
footer .container .top-footer .top-footer-left .footer-logo {
  width: 350px;
  text-align: center;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  footer .container .top-footer .top-footer-left .footer-logo {
    text-align: left;
    padding-bottom: auto;
  }
}
footer .container .top-footer .top-footer-left .footer-logo p {
  display: none;
}
@media (min-width: 768px) {
  footer .container .top-footer .top-footer-left .footer-logo p {
    display: block;
    padding-top: 30px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
  }
}
footer .container .top-footer .top-footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  footer .container .top-footer .top-footer-right {
    display: flex;
  }
}
footer .container .top-footer .top-footer-right .footer-links {
  display: flex;
  flex-direction: column;
  width: 225px;
}
footer .container .top-footer .top-footer-right .footer-links h5 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}
@media (min-width: 768px) {
  footer .container .top-footer .top-footer-right .footer-links h5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer .container .top-footer .top-footer-right .footer-links a {
  pointer-events: none;
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  font-style: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 768px) {
  footer .container .top-footer .top-footer-right .footer-links a {
    line-height: 40px;
  }
}
footer .container .top-footer .top-footer-right .footer-links a:hover {
  text-decoration: underline;
  color: rgba(196, 196, 196, 0.7);
}
footer .container .top-footer .top-footer-right .footer-links span {
  pointer-events: auto;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.bottom-footer {
  background-color: #0E1021;
}
@media (min-width: 768px) {
  .bottom-footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-footer .container .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-footer .container .copyright p {
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  .bottom-footer .container .copyright {
    display: block;
    justify-content: left;
    align-items: left;
  }
}
.bottom-footer .container .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-footer .container .social-media a {
  color: white;
  font-size: 1.3rem;
  margin-left: 10px;
}
.bottom-footer .container .social-media a:hover {
  color: #999999;
}

header {
  background-color: #F0EFE9;
  padding: 15px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .btn-menu {
  border: none;
  background-color: transparent;
  color: #191919;
  font-size: 1.5em;
}
@media (min-width: 992px) {
  header .container .btn-menu {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #666666;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 40px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu nav a:hover {
  text-decoration: none;
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mobile-menu {
  background-color: rgba(25, 25, 25, 0.862745098);
  color: #FFFFFF;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 70px 0;
  z-index: 0;
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
}
.mobile-menu a:hover {
  background-color: #F9D783;
  color: #191919;
}
.mobile-menu .active {
  background-color: #747474;
}

.mobile-btn-menu {
  background-color: transparent;
  border: none;
  color: #191919;
  font-size: 1.1em;
  position: fixed;
  right: 0;
  padding-right: 15px;
  z-index: 1;
}
@media (min-width: 992px) {
  .mobile-btn-menu {
    display: none;
  }
}
.mobile-btn-menu .x-mark {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 1.1em;
}

.news-details-section .container .content .content-header {
  width: 650px;
  margin-top: 100px;
}
.news-details-section .container .content .content-header .article-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
}
.news-details-section .container .content .content-header .article-info p {
  font-weight: bold;
}
.news-details-section .container .content .content-header .article-info .dot {
  color: #F9D783;
  font-size: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.news-details-section .container .content .content-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .news-details-section .container .content .content-main {
    flex-direction: row;
  }
}
.news-details-section .container .content .content-main .content-article img {
  width: 700px;
  height: auto;
}
.news-details-section .container .content .content-main .content-article p {
  padding-top: 50px;
  padding-bottom: 50px;
}
.news-details-section .container .content .content-main .content-side {
  margin-top: 0;
  padding-top: 0;
  width: 420px;
}
.news-details-section .container .content .content-main .content-side .search-field-container {
  position: relative;
}
.news-details-section .container .content .content-main .content-side .search-field-container .search-icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.news-details-section .container .content .content-main .content-side .search-field-container .search-field {
  display: block;
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #FFFFFF;
  border: 1px solid rgba(25, 25, 25, 0.1);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 40px;
  transition: border-color 0.3s;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  margin-bottom: 45px;
}
.news-details-section .container .content .content-main .content-side .search-field-container .search-field:hover {
  border-color: RGBA(25, 25, 25, 0.5);
}
.news-details-section .container .content .content-main .content-side .search-field-container .search-field::-moz-placeholder {
  color: RGBA(25, 25, 25, 0.5);
}
.news-details-section .container .content .content-main .content-side .search-field-container .search-field::placeholder {
  color: RGBA(25, 25, 25, 0.5);
}
.news-details-section .container .content .content-main .content-side .search-field-container .search-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px #F9D783; /* added box-shadow for focus */
}
.news-details-section .container .content .content-main .content-side .search-field-container .search-field:hover {
  border-color: RGBA(25, 25, 25, 0.5);
}
.news-details-section .container .content .content-main .content-side .search-field-container .search-field::p laceholder {
  color: RGBA(25, 25, 25, 0.5);
}
.news-details-section .container .content .content-main .content-side .search-field-container .search-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px #F9D783; /* added box-shadow for focus */
}
.news-details-section .container .content .content-main .content-side .recent-posts {
  border: 1px solid RGBA(25, 25, 25, 0.2);
  padding: 25px;
}
.news-details-section .container .content .content-main .content-side .recent-posts h3 {
  margin-bottom: 20px;
}
.news-details-section .container .content .content-main .content-side .recent-posts hr {
  margin-bottom: 20px;
}
.news-details-section .container .content .content-main .content-side .categories {
  border: 1px solid RGBA(25, 25, 25, 0.2);
  margin-top: 45px;
  margin-bottom: 100px;
  padding: 25px;
}
.news-details-section .container .content .content-main .content-side .categories h3 {
  margin-bottom: 20px;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .background-wavy-lines {
  position: absolute;
  bottom: 40px;
  right: 0;
}
@media (max-width: 1600px) {
  .newsletter .background-wavy-lines {
    display: none;
  }
}
.newsletter .container {
  display: block;
}
@media (min-width: 1200px) {
  .newsletter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.newsletter .container h2 {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .newsletter .container h2 {
    text-align: left;
    font-size: 45px;
    margin-bottom: auto;
  }
}
.newsletter .container form {
  text-align: center;
}
@media (min-width: 1200px) {
  .newsletter .container form {
    text-align: left;
  }
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 25px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1);
  margin-right: 20px;
  transition: border-color 0.3s;
}
.newsletter .container form input:focus {
  border: 1px solid #191919;
}
.newsletter .container form input:hover {
  border-color: RGBA(25, 25, 25, 0.5);
}
.newsletter .container form input::-moz-placeholder {
  color: RGBA(25, 25, 25, 0.5);
}
.newsletter .container form input::placeholder {
  color: RGBA(25, 25, 25, 0.5);
}

.projects-section .container .section-title {
  text-align: center;
}
.projects-section .container .project-articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .projects-section .container .project-articles {
    grid-template-columns: 1fr 1fr;
  }
}
.projects-section .container .project-articles article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.projects-section .container .project-articles article img {
  width: 100%;
  height: auto;
}
.projects-section .container .project-articles article h3 {
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.projects-section .container .project-articles article a {
  display: block;
  padding: 15px;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
}
.projects-section .container .project-articles article a:hover {
  text-decoration: underline;
}
.projects-section .container .project-articles article a i {
  margin-left: 3px;
}
.projects-section .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.round-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #191919;
  color: #FFFFFF;
  border-radius: 100%;
}
@media (min-width: 786px) {
  .round-icon {
    width: 60px;
    height: 60px;
  }
}

.round-icon-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  color: #191919;
  border-radius: 100%;
}
@media (min-width: 786px) {
  .round-icon-white {
    width: 60px;
    height: 60px;
  }
}

.round-icon-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  color: #191919;
  border: 1px solid rgba(25, 25, 25, 0.1);
  border-radius: 100%;
  padding: 35px;
}
.round-icon-transparent i {
  font-size: 2em;
}

.section-title {
  text-align: left;
  padding-top: 70px;
  padding-bottom: 40px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.section-title h6 {
  color: #F94D1C;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
  .section-title h2 {
    font-size: 38px;
  }
}
@media (min-width: 1200px) {
  .section-title h2 {
    font-size: 45px;
  }
}

.services-section {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.services-section .background-lines {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  .services-section .background-lines {
    display: none;
  }
}
.services-section .container {
  padding-bottom: 100px;
}
.services-section .container .section-title h6 {
  text-align: center;
}
.services-section .container .section-title h2 {
  text-align: center;
}
@media (min-width: 1200px) {
  .services-section .container .section-title h4 {
    text-align: left;
  }
  .services-section .container .section-title h2 {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .services-section .container .services-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .services-section .container .services-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}
.services-section .container .services-box-container .service-box-link {
  text-decoration: none;
}
.services-section .container .services-box-container .service-box-link .services-box {
  padding: 50px 35px;
  background-color: #FFFFFF;
}
@media (max-width: 768px) {
  .services-section .container .services-box-container .service-box-link .services-box {
    margin: 15px;
  }
}
.services-section .container .services-box-container .service-box-link .services-box hr {
  display: none;
}
@media (min-width: 768px) {
  .services-section .container .services-box-container .service-box-link .services-box hr {
    display: block;
    width: 40px;
    color: #191919;
    padding-bottom: 35px;
  }
}
.services-section .container .services-box-container .service-box-link .services-box .services-box-icon {
  display: flex;
  justify-content: flex-end;
}
.services-section .container .services-box-container .service-box-link .services-box:hover {
  background-color: #F9D783;
  transition: 0.2s ease-in-out;
}
.services-section .container .services-box-container .service-box-link .services-box:hover .services-box-icon .round-icon {
  background-color: #FFFFFF;
  color: #191919;
  transition: 0.2s ease-in-out;
}
.services-section .container .center-content {
  margin-top: 50px;
}

.showcase {
  background-color: #F0EFE9;
}
@media (min-width: 992px) {
  .showcase {
    position: relative;
    z-index: 0;
  }
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  .showcase .background-lines {
    display: none;
  }
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0;
  margin-bottom: 20px;
  display: block;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 20px;
    display: inline-block;
  }
}
.showcase .container .content-contact {
  width: 100%;
  text-align: center;
}
.showcase .container .content-contact .title-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase .container .content-contact .title-text p {
  padding: 10px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  font-style: normal;
  color: #191919;
}
.showcase .container .content-contact .title-text #home {
  font-weight: 300;
  line-height: 25px;
}
.showcase .container img {
  display: none;
  margin-right: -100px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.meet-our-team {
  background-color: RGBA(240, 208, 130, 0.93);
}
.meet-our-team .container .meet-our-team-top .section-title h6 {
  text-align: center;
}
@media (min-width: 1200px) {
  .meet-our-team .container .meet-our-team-top .section-title h6 {
    text-align: left;
  }
}
.meet-our-team .container .meet-our-team-top .section-title .experience-team-members {
  text-align: center;
}
.meet-our-team .container .meet-our-team-top .section-title .experience-team-members h2 {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .meet-our-team .container .meet-our-team-top .section-title .experience-team-members {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.meet-our-team .container .meet-our-team-top .team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.meet-our-team .container .meet-our-team-top .team-members h4 {
  padding-top: 25px;
  pointer-events: auto;
}
.meet-our-team .container .meet-our-team-top .team-members ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  list-style-type: none;
}
@media (min-width: 1200px) {
  .meet-our-team .container .meet-our-team-top .team-members ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.meet-our-team .container .meet-our-team-top .team-members ul a {
  pointer-events: none;
  text-decoration: none;
}
.meet-our-team .container .meet-our-team-top .team-members ul a :hover h4 {
  color: #191919;
  text-decoration: underline;
}
.meet-our-team .container .meet-our-team-top .team-members ul a :hover img {
  outline: 1px solid RGBA(25, 25, 25, 0.5);
}
.meet-our-team .container .meet-our-team-top .team-members ul .member img {
  pointer-events: auto;
}
@media (max-width: 768px) {
  .meet-our-team .container .meet-our-team-top .team-members ul .member {
    width: 200px;
    height: auto;
  }
  .meet-our-team .container .meet-our-team-top .team-members ul .member img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .meet-our-team .container .meet-our-team-top .team-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.testimonial {
  background-color: RGBA(240, 208, 130, 0.93);
  padding-bottom: 100px;
}
.testimonial .container {
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .testimonial .container {
    max-width: 1520px;
    margin: auto;
  }
}
.testimonial .container .section-title {
  text-align: center;
}
.testimonial .container .testimonial-boxes {
  padding: 50px;
  padding-top: 0;
}
@media (min-width: 1200px) {
  .testimonial .container .testimonial-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 100px;
  }
}
.testimonial .container .testimonial-boxes .testimonial-box p {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  line-height: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 1200px) {
  .testimonial .container .testimonial-boxes .testimonial-box p {
    font-weight: normal;
    font-style: italic;
    line-height: 34px;
  }
}
.testimonial .container .testimonial-boxes .testimonial-box .client {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .testimonial .container .testimonial-boxes .testimonial-box .client {
    margin-bottom: auto;
  }
}
.testimonial .container .testimonial-boxes .testimonial-box .client img {
  height: 75px;
  width: auto;
}
@media (min-width: 768px) {
  .testimonial .container .testimonial-boxes .testimonial-box .client img {
    height: 100px;
  }
}
.testimonial .container .testimonial-boxes .testimonial-box .client .client-name {
  padding: 10px;
  padding-left: 25px;
}
.testimonial .container .testimonial-boxes .testimonial-box .client .client-name p {
  padding: 0;
  font-style: normal;
  color: #F94D1C;
}
.testimonial .container .testimonial-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
html h1, body h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #191919;
}
@media (min-width: 768px) {
  html h1, body h1 {
    font-size: 60px;
  }
}
@media (min-width: 1400px) {
  html h1, body h1 {
    font-size: 86px;
  }
}
html .lesser-h1, body .lesser-h1 {
  font-size: 42px;
}
@media (min-width: 768px) {
  html .lesser-h1, body .lesser-h1 {
    font-size: 49px;
  }
}
@media (min-width: 1200px) {
  html .lesser-h1, body .lesser-h1 {
    font-size: 56px;
  }
}
html h3, body h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  color: #191919;
}
html h4, body h4 {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: bold;
  color: #191919;
}
html h5, body h5 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
}
html h6, body h6 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #6a6c71;
  margin-top: 30px;
  margin-bottom: 30px;
}
html p, body p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 32px;
  color: rgba(25, 25, 25, 0.7);
}

.container {
  max-width: 1400px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.map-image img {
  max-width: 100%;
  height: auto;
}

.news {
  min-height: 100vh;
  display: flex;
  margin-top: 100px;
}

.page-not-found {
  min-height: 100vh;
  display: block;
  text-align: center;
}
.page-not-found a {
  color: #191919;
  text-decoration: underline;
}
.page-not-found .page-not-found-icon {
  margin-top: 100px;
  margin-bottom: 50px;
}

.icon-size-medium {
  font-size: 28px;
}

.icon-size-big {
  font-size: 100px;
}