.article-news-section {
    .container {
        .section-title {

            h6 {
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: left;
                }
            }

            .article-news-title {
                text-align: center;
                padding-bottom: 80px;

                h2 {
                    margin-bottom: 50px;
                }

                @media (min-width: 1200px) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: left;
                    padding-bottom: 40px;

                    h2 {
                        margin-bottom: auto;
                    }
                }
            }
        }

        .article-boxes {
            position: relative;
            
            ul {
                list-style-type: none;

                @media (min-width: 1200px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 30px;
                }

                a {
                    pointer-events: none;
                    text-decoration: none;
                    
                    :hover {
                        h3 {
                            text-decoration: underline;
                        }

                        img {
                            outline: 1px solid RGBA(25,25,25,0.5 );
                        }
                    }
                }

                .article-box {
                    margin-bottom: 50px;

                    @media (min-width: 768px) {
                        margin-bottom: auto;
                    }

                    h3 {
                        display: inline-block;
                        pointer-events: auto;
                        color: #191919;
                    }

                    img {
                        pointer-events: auto;
                        height: 230px;
                        width: 420px;
                        object-fit: cover;
                        object-position: center;
                        
                    }
    
                    p {
                        line-height: 28px;
                        margin-top: 5px;
                        max-width: 400px;

                        @media (min-width: 768px) {
                            margin-top: 20px;
                            max-width: auto;
                        }
                    }

                    .article-box-date {
                        position: absolute;
                        text-align: center;
                        margin-top: -210px;
                        margin-left: 20px;
                        background-color: #F9D783;
                        padding: 14px;
                        padding-bottom: 0;
    
                        h4 {
                            margin-bottom: 0;
                        }
    
                        p {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}