.features-section {
    
    .container {


        @media (min-width: 1200px) {
            display: flex;
            justify-content: flex-start;
            border-color: rgba(25,25,25,0.2 );
            border-width: 1.2000000476837158px;
            border-style: solid;
            border-radius: 2px;
        }

        .section-title {
            text-align: center;
            padding-top: 50px;

            h2 {
                padding-bottom: 25px;
            }

            @media (min-width: 1200px) {
                padding-left: 75px;

                h2 {
                    padding-bottom: 50px;
                }
            }
        }
        
        .features-grid {

            @media (min-width: 768px) {
                display: grid;
                align-items: center;
                gap: 100px;
                padding: 100px;
                grid-template-columns: 1fr 1fr;
            }

            .feature-box {
                padding: 25px;

                @media (min-width: 768px) {
                    padding: 0;
                }

                .feature-box-title {
                    display: flex;

                    h4 {
                        margin-left: 20px;
                    }

                    @media (min-width: 768px) {
                        display: block;

                        i {
                            margin-top: 0;
                            margin-right: 0;
                            font-size: 2em;
                        }

                        h4 {
                            padding-top: 25px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}