.contact-form-section {
    .contact-form {
        .section-title {
            display: block;
            align-items: center;
            text-align: center;
        }
        background-color: #F0EFE9;
        padding: 30px;

        @media (min-width: 768px) {
            padding: 75px;
        }

        @media (min-width: 1200px) {
            padding: 150px;
        }
        
        .form-input {
            display: block;
            width: 100%;
            padding: 8px;
            background-color: #FFFFFF;
            border: 1px solid rgba(25, 25, 25, 0.10);
            padding: 15px 25px;
            font-weight: 600;
            font-size: 16px;
            border-radius: 40px;
            transition: border-color 0.3s;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #191919;

            &:hover {
                border-color: RGBA(25,25,25,0.5 );
            }

            &::placeholder {
                color: RGBA(25,25,25,0.5 );
            }
        }
    
        textarea {
            resize: none;
            height: 200px;
        }
    }
}