.newsletter {
    background-color: #F0EFE9;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    
    .background-wavy-lines {
        position: absolute;
        bottom: 40px;
        right: 0;
        
        @media(max-width: 1600px) {
            display: none;
        }
    }

    .container {
        display: block;
        
        @media(min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h2 {
            text-align: center;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 40px;

            @media(min-width: 768px) {
                text-align: left;
                font-size: 45px;
                margin-bottom: auto;
            }
        }

        form {
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
            }

            input {
                color: #191919;
                text-decoration: none;
                padding: 15px 25px;
                font-size: 16px;
                border-radius: 25px;
                border-radius: 25px;
                outline: none;
                border: 1px solid rgba(25, 25, 25, 0.10);
                margin-right: 20px;
                transition: border-color 0.3s;

                &:focus {
                    border: 1px solid #191919;
                }

                &:hover {
                    border-color: RGBA(25,25,25,0.5 );
                }
    
                &::placeholder {
                    color: RGBA(25,25,25,0.5 );
                }
            }
        }
    }
}