.projects-section {
    .container {
        .section-title {
            text-align: center;
        }

        .project-articles {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            article {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                a {
                    display: block;
                    padding: 15px;
                    color: #191919;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: right;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    i {
                        margin-left: 3px;
                    }

                    
                }
            }
        }

        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}