.services-section {
    background-color: #F0EFE9;

    .container {
        padding-bottom: 100px;
        
        .services-box-container {
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
            }

            .services-box {
                padding: 25px;
                background-color: #FFFFFF;

                @media(max-width: 768px) {
                    margin: 15px;
                }

                hr {
                    display: none;

                    @media(min-width: 768px) {
                        display: block;
                        width: 10%;
                        color: black;
                        padding-bottom: 15px;
                    }
                }

                .services-box-icon {
                    display: flex;
                    justify-content: flex-end;
                }
            }

            .services-box-yellow {
                padding: 25px;
                background-color: #F9D783;

                @media(max-width: 768px) {
                    margin: 15px;
                }

                hr {
                    display: none;

                    @media(min-width: 768px) {
                        display: block;
                        width: 10%;
                        color: black;
                        padding-bottom: 15px;
                    }
                }

                .services-box-icon {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}