.showcase {
    background-color: #F0EFE9;
    
    @media (min-width: 992px) {
        position: relative;
        z-index: 0;
    }

    .background-lines {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;

        @media (max-width: 768px) {
            display: none;
        }
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }
    
            p {
                font-size: 18px;
                padding-top: 35px;
                padding-bottom: 35px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
    
            a {
                margin-right: 0;
                margin-bottom: 20px;
                display: block;

                @media (min-width: 768px) {
                    margin-right: 20px;
                    display: inline-block;
                }
            }
        }

        .content-contact {
            width: 100%;
            text-align: center;

            .title-text {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    padding: 10px;
                    font-family: "Inter";
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    font-style: normal;
                    color: #191919;
                }

                #home {
                    font-weight: 300;
                    line-height: 25px;
                }
            }
        }

        img {
            display: none;
            margin-right: -100px;
    
            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}