.meet-our-team {
    background-color: RGBA(240,208,130,0.93 );

    .container {
        .meet-our-team-top {
            .section-title {
                h6 {
                    text-align: center;

                    @media (min-width: 1200px) {
                        text-align: left;
                    }
                }

                .experience-team-members {
                    h2 {
                        margin-bottom: 50px;
                    }

                    text-align: center;

                    @media (min-width: 1200px) {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                    }
                    
                }
            }

            .team-members {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 100px;

                h4 {
                    padding-top: 25px;
                    pointer-events: auto;
                }

                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 30px;
                    list-style-type: none;

                    @media (min-width: 1200px) {
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }

                    a {
                        pointer-events: none;
                        text-decoration: none;
                        
                        :hover {
                            h4 {
                                color: #191919;
                                text-decoration: underline;
                            }

                            img {
                                outline: 1px solid RGBA(25,25,25,0.5 );
                            }
                        }
                    }

                    .member {
                        img {
                            pointer-events: auto;
                        }

                        @media (max-width: 768px) {
                            width: 200px;
                            height: auto;

                            img {
                                
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }

                @media (max-width: 768px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

        }
    }
}